{% extends "private/private_base.html" %}

{% block title %}
Backup Status
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h5 class="card-title">Backup Status</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">All backups completed successfully.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
